.cart_container{

}

.cart_products_container{
    width: 70%;
    height: 30rem;
    background-color: pink;
}

.cart_payment_receipt{
    width: 30%;
    height: 15rem;
    background-color: blueviolet;
}

.cart_card_resize{
    width: 35rem;
}

.cart_card_content{
    margin-top: 6px;
}

.cart_card_imgresize{
    width: 10rem;
    height: 10rem;
}


