.homepage_main_container {
  width: 100%;
}

.homepage_banner_container {
  height: 90vh;
  background: url(https://images.pexels.com/photos/1903970/pexels-photo-1903970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_content_container {
  text-align: center;
  padding-top: 6rem;
}

._title {
  color: white;
  font-size: 6rem;
}

._btn {
  background-color: white;
  color: black;
}

.homepage_categories {
  display: grid;
  gap: 1.5rem;
  grid-template-areas: 
    "one two"
    "three four";
  padding: 3rem 0.8rem;
}

.plant_img{
    width: 100%;
}

.promotion_banner{
    display: grid;
    grid-template-areas: "one two";
}