.width-auto {
  width: auto;
}

.ml-2{
    margin-left: 2rem;
}

.mb-0{
    margin-bottom: 0;
}

.mr-4{
    margin-right: 4rem;
}

.font-resize{
    font-size: 2.2rem;
}

.flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inherit-clr{
    color: inherit;
}

.width-reset{
    width: 18%;
}